<div>
    <h1 id="title">Pastelería Susi</h1>
</div>
<div>
    <input id="chatBox">
    <p id="messageLogs"></p>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>