{{#each newProducts}}
<div class="container">
    <p>Producto Nro: {{this.id}}</p>
    <p>{{this.title}}</p>
    <p>${{this.price}},00</p>
</div>
{{/each}}
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>