<div>
    <form id="restorePass">
        <div class="form-group">
            <label for="new-pass">Nueva pass</label>
            <input type="password" name="newPassword" placeholder="Ingrese su nueva pass" class="form-control" id="new-pass" required>
            </div>
            <input type="hidden" name="token" value="{{token}}">
            <input type="submit" value="Enviar">
    </form>
</div>
<script src="/js/restore-pass.js"></script>